html *
{
   color: #000 !important;
   font-family: didot;
   padding-left: 2em;
   padding-right:2em;
}

h1 {
    font-family: didot
}

#heading{
    text-align: left;
    margin-top: 2em;
}

p{
    font-size: large;
    padding: 2em;
}

body{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
}

#footer {
    padding-bottom: 3em;
    text-align: center;
}

.coding-look{
    background-color: rgb(245, 239, 229);
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 2em;

}